.aboutMe {
  @apply w-full self-center h-1/3 ml-auto bg-gradient-to-r from-red-500 shadow-lg rounded-3xl;
}

.aboutMe__inner {
  @apply container w-11/12 p-6 mx-auto mt-4 bg-white shadow-lg rounded-3xl;
  @apply md:w-5/6 md:-mt-12;
  zoom: 1.3;
}
