{
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/jsx-filename-extension" : "off",
    "react/react-in-jsx-scope" : "off",
    "react/prop-types" : "off",
    "react/jsx-props-no-spreading" : "off",
    "react/jsx-one-expression-per-line" : "off",
    "react/no-unescaped-entities" : "off"
  },
  "ignorePatterns" : ["./parcel-bundler.js"]
}
