.aboutMe {
  @apply w-full self-center h-1/3 bg-gradient-to-r from-red-500 shadow-lg rounded-md mb-12 pb-2 m-2;
  @apply md:mb-0 md:pb-0 md:ml-auto;
}

.aboutMe__inner {
  @apply container w-11/12 p-6 mx-auto mt-4 bg-white shadow-lg rounded-md space-y-4;
  @apply md:w-5/6 md:-mt-12;
}
