.aboutMe {
  @apply w-full self-center bg-gradient-to-r from-red-500 shadow-lg rounded-md mb-12 pb-8 mx-1;
  @apply md:mb-0 md:ml-auto;
}

.aboutMe__inner {
  @apply container w-11/12 p-4 md:p-6 mx-auto md:ml-4 mt-4 bg-white shadow-lg rounded-md space-y-4;
  @apply xl:w-4/6 md:-mt-12;
}
