.default {
    mask: url(../../../assets/svgs/semicircle.svg) no-repeat top right;
    animation: bounce-up-down 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    background-color:yellow;
    content: ' ';
    height: 171px;
    right: -3%;
    bottom: 0;
    transform: rotate(-7deg);
    width: 211px;
    position: absolute;
}

@keyframes bounce-up-down {
    40% {
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(40px) rotate(-1deg);
    }
}