.inner {
  @apply bg-background w-full;
  background-image: radial-gradient(rgba(215, 215, 215, 0.25) 1px, transparent 1px),
  radial-gradient(rgba(215, 215, 215, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  animation: slide 4s infinite linear;
}

.constellation {
  @apply absolute w-full h-129 md:h-5/6 top-0 left-0
}

.left {
  @apply md:h-screen flex justify-center z-10 mb-32;
  @apply lg:fixed lg:w-1/3 md:mb-0;
}

.left__inner {
  @apply relative w-4/5 md:self-center max-w-md mx-auto shadow-lg p-3 py-8 bg-white z-10 rounded-md mt-24 md:mt-0;
}

.left__image {
  @apply block mx-auto -mt-24;
}

.left__text {
  @apply text-3xl sm:w-11/12 p-2 text-center mx-auto my-10 text-gray-800;
}

.software {
  @apply bg-red-500 text-white font-thin
}

.react {
  @apply bg-react text-white font-thin
}

.networks {
  @apply flex items-center justify-evenly space-x-2 w-5/6 mx-auto;
}

.networks__link {
  @apply transition duration-300 transform hover:scale-110
}

.right {
  @apply min-h-96 ml-auto flex;
  @apply lg:w-2/3 md:h-screen;
}

.right__inner {
  @apply w-full self-center bg-gradient-to-r from-red-500 shadow-lg rounded-md mb-12 pb-8 mx-1;
  @apply md:mb-0 md:ml-auto;
}

.right__title {
  @apply text-3xl;
}

.right__content {
  @apply space-y-3 text-xl text-gray-700;
}

.zartis {
  @apply bg-blue-800 text-white font-thin;
}

.typescript {
  @apply bg-typescript text-white font-thin normal-case
}

.github {
  @apply bg-gray-900 text-white font-thin
}

.astrale {
  @apply bg-purple-600 text-white font-thin
}

.contact {
  @apply bg-red-500 text-white font-thin
}

@keyframes slide {
  from {
    background-position: 0 0, 25px 25px;
  }

  to {
    background-position: 50px 0, 125px 25px;
  }
}
