.default {
    mask: url(../../../assets/svgs/triangle.svg) no-repeat bottom left;
    animation: spin-around 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    background-color: #f48024;
    bottom: 15%;
    content: ' ';
    height: 74px;
    left: 12%;
    width: 65px;
    position: absolute;
}

@keyframes spin-around {
    40% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.4, 0.7);
        transform: translateY(25px) rotate(-53deg);
    }
}