.default {
  @apply lg:fixed lg:w-1/3 h-screen flex justify-center bg-background;
  background-image: radial-gradient(rgba(215, 215, 215, 0.25) 1px, transparent 1px), radial-gradient(rgba(215, 215, 215, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}