@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-family: 'Roboto', serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: normal;
}