.default {
  -webkit-mask: url(../../../assets/svgs/dots.svg) no-repeat top left;
  background-color: #7baae2;
  content: ' ';
  height: 57px;
  left: 67%;
  top: 8%;
  width: 76px;
  position: absolute;
}
